@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	outline: none;
}

:root {
	font-size: 18px;
}

@media (prefers-color-scheme: dark) {
	:root {
	}
}

body {
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
